<div 
  class="popup-overlay" 
  [hidden]="!isPopupOpen && !isFadingOut" 
  [class.fade-out]="isFadingOut" 
  (click)="closePopup()">
</div>

<div 
  class="popup" [hidden]="!isPopupOpen && !isFadingOut"  [class.fade-out]="isFadingOut">
  <h2>Formularz Tworzenia Turnieju</h2>
  <form (ngSubmit)="createTournament()">
    
    <div class="form-group">
      <label for="name">Nazwa turnieju:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required maxlength="30">
    </div>

    <div class="form-group">
      <label for="is_ranked">Tryb:</label>
      <label>
        <input type="radio" name="is_ranked" [(ngModel)]="is_ranked" [value]="true"> Rankingowy
      </label>
      <label>
        <input type="radio" name="is_ranked" [(ngModel)]="is_ranked" [value]="false"> Towarzyski
      </label>
    </div>

    <div class="form-group">
      <label for="totalTime">Całkowity czas:</label>
      <input type="range" id="totalTime" [(ngModel)]="totalTime" name="totalTime" min="1" max="30" (input)="onTotalTimeChange()">
      <span>{{ totalTime }} minut(y)</span>
    </div>

    <div class="form-group">
      <label for="increment">Inkrement czasowy:</label>
      <input type="range" id="increment" [(ngModel)]="incrementTime" name="incrementTime" min="0" max="10" (input)="onIncrementTimeChange()">
      <span>{{ incrementTime }} sekund(y)</span>
    </div>
    
    <div class="form-group">
      <label for="player_mode">Turniej dla:</label>
      <select id="player_mode" [(ngModel)]="player_mode" name="player_mode">
        <option value="Human-Human">Ludzi</option>
        <option value="Engine-Engine">Komputerów</option>
      </select>
    </div>

    
    <div *ngIf="player_mode === 'Engine-Engine'" class="form-group">
      <label for="engineSelect">Wybierz silnik:</label>
      <select id="engineSelect" [(ngModel)]="selectedEngineUrl" name="selectedEngine">
        <option *ngFor="let engine of acceptedEngines" [value]="engine.url">{{ engine.name }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="min_elo">Min elo przeciwnika:</label>
      <input type="range" id="min_elo" [(ngModel)]="min_elo" name="min_elo" min="100" max="5000" (input)="onMinEloChange()">
      <span>{{ min_elo }}</span>
    </div>

    <div class="form-group">
      <label for="max_elo">Max elo przeciwnika:</label>
      <input type="range" id="max_elo" [(ngModel)]="max_elo" name="max_elo" min="100" max="5000" (input)="onMaxEloChange()">
      <span>{{ max_elo }}</span>
    </div>
    
    <div class="form-group">
      <label for="description">Opis turnieju:</label>
      <textarea id="description" [(ngModel)]="description" name="description" rows="3" maxlength="10000"></textarea>
    </div>

    <button type="submit" [disabled]="isEngineRequiredAndNotSelected()">Zatwierdź</button>
  </form>
</div>
